<div class="modal-comment-confirm" >
  <div class="background"></div>
  <div class="modal-content-wrapper">
    <div class="modal-content dialog">
      <div class="message-box" >
        <div class="labels">
          <div class="title">Pickを上書きしてもよろしいですか？</div>
          <div class="message">すでにPickしたことがあるニュースです。<br>再度Pickするとコメントが上書きされます。</div>
        </div>
        <div class="buttons">
          <div class="negative-button">キャンセル</div>
          <div class="positive-button">上書きしてPickする</div>
        </div>
      </div>
    </div>
  </div>
</div>
