<div class="keyword-wrapper">
  <div class="keyword-wrapper__overlay">
    <div class="keyword-wrapper__form">
      <div class="keyword-wrapper__form__above">
        <%= form_with url: picks_lookup_path, method: :get do |f| %>
          <%= f.text_field :keyword, class: 'keyword-wrapper__form__above__input', placeholder: 'キーワードを入力してEnterキーで検索' %>
          <% f.submit %>
        <% end %>
      </div>
      <div class="keyword-wrapper__form__bottom">
        気になるキーワードを入力<br>
        <span class="keyword-wrapper__form__bottom__text">「企業名」や「業界」など気になるキーワードを入力してみましょう</span>
      </div>
    </div>
  </div>
</div>
