<div class="keyword-wrapper">
  <div class="keyword-wrapper__overlay">
    <div class="keyword-wrapper__form">
      <div class="keyword-wrapper__form__above">
        <%= form_with url: picks_lookup_path, method: :get, id: 'keyword-form' do |f| %>
          <%= f.text_field :keyword, class: 'keyword-wrapper__form__above__input', placeholder: 'キーワードを入力してEnterキーで検索' %>
          <% f.submit %>
        <% end %>
      </div>
      <div class="keyword-wrapper__form__bottom">
        <div class="keyword-wrapper__form__bottom__announce">
          気になるキーワードを入力<br>
          <span class="keyword-wrapper__form__bottom__announce__text">「企業名」や「業界」など気になるキーワードを入力してみましょう</span>
        </div>
        <div class="keyword-wrapper__form__bottom__result">
          <div class="keyword-wrapper__form__bottom__result__class">
            <div class="keyword-wrapper__form__bottom__result__class__news">
              ニュース
            </div>
            <div class="keyword-wrapper__form__bottom__result__class__comment">
              コメント
            </div>
          </div>

          <div class="keyword-wrapper__form__bottom__result__picks">
            <div class="keyword-wrapper__form__bottom__result__picks__news">
              <div>
                  <div class="keyword-wrapper__form__bottom__result__picks__news__image" style="background-image: url(https://www.cinemacafe.net/imgs/thumb_h1/356246.jpg)">
                    <div class="keyword-wrapper__form__bottom__result__picks__news__image__back">
                    </div>
                    <span class="keyword-wrapper__form__bottom__result__picks__news__image__picks-count">
                      <span class="keyword-wrapper__form__bottom__result__picks__news__image__picks-count__num">
                        63
                      </span>
                      <span class="keyword-wrapper__form__bottom__result__picks__news__image__picks-count__text">
                        Picks
                      </span>
                    </span>
                  </div>
                  <div class="keyword-wrapper__form__bottom__result__picks__news__above">
                    <div class="keyword-wrapper__form__bottom__result__picks__news__above__title">
                      白石麻衣、家を買う
                    </div>
                    <div class="keyword-wrapper__form__bottom__result__picks__news__above__source">
                      フォーブスジャパン | xx月xx日xx時
                    </div>
                  </div>
                  <div class="keyword-wrapper__form__bottom__result__picks__news__body">
                    白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う白石麻衣、家を買う
                  </div>
              </div>
            </div>
          </div>

          <div class="keyword-wrapper__form__bottom__result__comments">
            <div class="keyword-wrapper__form__bottom__result__comments__comment">
              <div class="keyword-wrapper__form__bottom__result__comments__comment__user">
                <%= image_tag "https://www.cinemacafe.net/imgs/thumb_h1/356246.jpg", class: 'keyword-wrapper__form__bottom__result__comments__comment__user__image' %>
                <div class="keyword-wrapper__form__bottom__result__comments__comment__user__info">
                  <div class="keyword-wrapper__form__bottom__result__comments__comment__user__info__name">
                    バチクソ ボーイ
                  </div>
                  <div class="keyword-wrapper__form__bottom__result__comments__comment__user__info__more">
                      <span class="keyword-wrapper__form__bottom__result__comments__comment__user__info__more__position">
                        バチクソ部長
                      </span>
                    <span class="keyword-wrapper__form__bottom__result__comments__comment__user__info__more__date">
                      xx年xx月xx日
                    </span>
                  </div>
                </div>
              </div>
              <div class="keyword-wrapper__form__bottom__result__comments__comment__body">
                最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高最高
              </div>

              <!-- いいね部品は後で編集 -->
              <div class="keyword-wrapper__form__bottom__result__comments__comment__like like-wrapper">
                いいね
              </div>

              <div class="keyword-wrapper__form__bottom__result__comments__comment__news">
                <div class="keyword-wrapper__form__bottom__result__comments__comment__news__title">
                  白石麻衣、家を買う
                </div>
                <div class="keyword-wrapper__form__bottom__result__comments__comment__news__info">
                  <span class="keyword-wrapper__form__bottom__result__comments__comment__news__info__source">
                    フォーブスジャパン
                  </span> |
                  <span class="keyword-wrapper__form__bottom__result__comments__comment__news__info__date">
                    xx年xx月xx日
                  </span>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
