<div class="back notification" id="notifications">
  <div class="notifications__overlay">
    <div class="notification-container" style="display: block;">
      <div class="popover">
        <div class="nozzle-border"></div>
        <div class="nozzle"></div>
        <div class="notification-header">
          <div class="title">お知らせ</div>
          <div class="query-link">
            <a href="/settings/query/">キーワード設定/編集</a>
          </div>
        </div>
        <div class="notification-content">
          <div class="nothing center font-bold" style="display: none;">お知らせはありません</div> <div class="error center font-bold" style="display: none;">お知らせが取得できませんでした</div>
          <div class="wrapper">
            <div class="notification" identifier="MN:9324:1535947109746" score="1535722898529" type="MESSAGE">
              <a class="picture-link" href="/user/9324/">
                <img src="https://contents.newspicks.com/users/9324/cover?circle=true">
              </a>
              <a class="label-link" href="https://newspicks.com/news/3283778/body/">
                <div class="message">
                  <b>9月は「小売・流通」と「中国ビジネス」。新規プロピッカーのコメントフォローはこちら</b>
                </div>
                <div class="time">2018年09月03日</div>
              </a>
            </div>
            <div class="notification" identifier="FN:1200352:1535541245942" score="1535541261009" type="FOLLOW">
              <a class="picture-link" href="/user/1200352/">
                <img src="https://contents.newspicks.com/users/1200352/cover?updatedAt=20180830161841&amp;circle=true">
              </a>
              <a class="label-link" href="/user/1200352/">
                <div class="message">
                  <b>開戸 大成</b>さんにフォローされました
                </div>
                <div class="time">2018年08月31日</div>
              </a>
            </div>
            <div class="notification" identifier="FN:3495819:1534334803363" score="1534334803589" type="FOLLOW">
              <a class="picture-link" href="/user/3495819/">
                <img src="https://contents.newspicks.com/users/3495819/cover?updatedAt=20180906074531&amp;circle=true">
              </a>
              <a class="label-link" href="/user/3495819/">
                <div class="message"><b>服部 良祐</b>さんにフォローされました</div>
                <div class="time">2018年08月15日</div>
              </a>
            </div>
            <div class="notification" identifier="FN:3321709:1534167878944" score="1534167895488" type="FOLLOW">
              <a class="picture-link" href="/user/3321709/">
                <img src="https://contents.newspicks.com/users/3321709/cover?updatedAt=20180907070143&amp;circle=true">
              </a>
              <a class="label-link" href="/user/3321709/">
                <div class="message"><b>三浦 五郎</b>さんにフォローされました</div>
                <div class="time">2018年08月15日</div>
              </a>
            </div>
            <div class="notification" identifier="LN:2351416:2691253:1853472:1534165698225" score="1534159781813" type="LIKE">
              <a class="picture-link" href="/user/1853472/">
                <img src="https://contents.newspicks.com/users/1853472/cover?updatedAt=20180907024722&amp;circle=true">
              </a>
              <a class="label-link" href="/news/2691253?ref=notification">
                <div class="message">
                  <b>板間 様方</b>さんが、あなたのPickにいいね！しました。
                  <b>経営者の悩み。IT人材不足を解消するには</b>
                </div>
                <div class="time">2018年08月13日</div>
              </a>
            </div>
            <div class="loading center" style="display: none;">
              <img src="/images/loading.e1ce83e8.gif">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
