.slick-prev {
  position: absolute;
  top: 22.5vh;
  left: 10px;
  z-index: 1;
  width: 24px;
  height: auto;
  opacity: 0.5;
  &:hover {
    opacity: 0.8;
  }
}

.slick-next {
  position: absolute;
  top: 22.5vh;
  right: 10px;
  z-index: 1;
  width: 24px;
  height: auto;
  opacity: 0.5;
  &:hover {
    opacity: 0.8;
  }
}

.slide-dots {
  position: absolute;
  bottom: 0;
  left: 25vw;
    li {
    display: inline-block;
    margin: 0 5px;
      button {
        position: relative;
        text-indent: -9999px;
        background: none;
        border: none;
        border-radius: 0;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #fff;
        opacity: 0.3;
        &:before {
          content: '●';
          font-size: 12px;
          text-indent: 0px;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      &.slick-active {
        button {
          opacity: 0.8;
        }
      }
    }
}
