#signup {
  display: none;
}

.signup {
  z-index: 2;
  &__form {
    border-radius: 5px;
    &__error {
      color: red;
    }
  }
  &__overlay {
    padding: 80px;
    z-index: 3;
    height: 100%;
  }
}
