<div class="mini-news-container">
  <%= link_to pick_path(pick), class: "mini-news" do %>
    <div class="left-box">
      <div class="picture" style="background-image: url(pick.image);">
      </div>
    </div>
    <div class="right-box">
      <div class="title">
        <%= pick.title %>
      </div>
      <div class="meta">
        <div class="publisher">
          <%= pick.source %>
        </div>
        <div class="published">
          <%= calc_time(pick) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
