<div class="notification" identifier="FN:1200352:1535541245942" score="1535541261009" type="FOLLOW">
  <a class="picture-link" href="/user/1200352/">
    <img src="https://contents.newspicks.com/users/1200352/cover?updatedAt=20180830161841&amp;circle=true">
  </a>
  <a class="label-link" href="/user/1200352/">
    <div class="message">
      <b>開戸 大成</b>さんにフォローされました
    </div>
    <div class="time">2018年08月31日</div>
  </a>
</div>

            <div class="notification" identifier="LN:2351416:2691253:1853472:1534165698225" score="1534159781813" type="LIKE">
              <a class="picture-link" href="/user/1853472/">
                <img src="https://contents.newspicks.com/users/1853472/cover?updatedAt=20180907024722&amp;circle=true">
              </a>
              <a class="label-link" href="/news/2691253?ref=notification">
                <div class="message">
                  <b>板間 様方</b>さんが、あなたのPickにいいね！しました。
                  <b>経営者の悩み。IT人材不足を解消するには</b>
                </div>
                <div class="time">2018年08月13日</div>
              </a>
            </div>
