<div class="tab-container">
  <div class="centering-tab-items">
    <div class="tab-item" id="tab-selected" data="recommended">
      おすすめピッカー
    </div>
    <div class="tab-item" data="user-ranking">
      ユーザーランキング
    </div>
    <div class="tab-item" data="comment-ranking">
      コメントランキング
    </div>
  </div>
</div>
