<div class="tab-container">
  <div class="centering-tab-items">
    <div class="tab-item recommended">
      おすすめピッカー
    </div>
    <div class="tab-item ranking">
      ユーザーランキング
    </div>
    <div class="tab-item comment">
      コメントランキング
    </div>
    <div class="tab-item user">
      ユーザー
    </div>
    <div class="tab-item corporate">
      コーポレート
    </div>
    <div class="tab-item media">
      メディア
    </div>
  </div>
</div>
