<div class="tab-content" id="tab-selected-recommended">
  <%= render partial: "recommended" %>
</div>

<div class="tab-content" id="tab-selected-user-ranking" style="display: none;">
  <%= render partial: "user-ranking" %>
</div>

<div class="tab-content" id="tab-selected-comment-ranking" style="display: none;">
  <%= render partial: "comment-ranking" %>
</div>
