<div class="wrapper" id="library-wrapper">
  <%= render partial: "./picks/side-bar" %>
  <div class="library_page">
    <%= render partial: "library_tab" %>
    <%= render partial: "library_main" %>
  </div>
</div>
