<div class="side-bar">
  <%= render partial: "current_user" %>
  <div class="side-bar__recomended-user">
    おすすめユーザー
    <div class="side-bar__recomended-user__user">
        <img src="https://img.jisin.jp/wp-content/uploads/2018/05/119600.jpeg" alt="ユーザーサムネイル" class="side-bar__recomended-user__user__image">
        <div class="side-bar__recomended-user__user__name">
          <span>有田　哲平</span></br>
          <span class="side-bar__recomended-user__user__position">
          ナチュラルエイト お笑い芸人
          </span>
        </div>
      <div class="side-bar__recomended-user__user__follow">
        <img src="/images/follow-btn.png" class="side-bar__recomended-user__user__btn">
      </div>
    </div>
  </div>
</div>
<div class="timeline">
  <div class="timeline__header">
    マイニュース
  </div>
  <% if @my_comments %>
    <div class="timeline__list">
      <%= render partial: 'users/search-result', collection: @my_comments, as: 'comment' %>
    </div>
  <% end %>
  <div class="timeline__keyword">
    <div class="timeline__keyword__head">
      <div class="timeline__keyword__head__title">
        フォロー中のキーワード
      </div>
      <div class="timeline__keyword__head__more" id="keyword-search">
        キーワードを探す
      </div>
    </div>
    <div class="timeline__keyword__list">
      <%= render partial: 'users/keyword-list', collection: current_user.keywords, as: 'keyword' %>
    </div>
  </div>
</div>
<%= render partial: "./modal/keyword" %>
