<div class="side-bar">
  <%= render partial: "current_user" %>
  <div class="side-bar__recomended-user">
    <div class="side-bar__recomended-user__title">
      おすすめユーザー
    </div>
    <div class="side-bar__recomended-user__user">
      <div class="side-bar__recomended-user__user__info">
        <img src="https://img.jisin.jp/wp-content/uploads/2018/05/119600.jpeg" alt="ユーザーサムネイル" class="side-bar__recomended-user__user__info__image">
        <div class="side-bar__recomended-user__user__info__name">
          <span>有田　哲平</span></br>
          <span class="side-bar__recomended-user__user__info__name__more">ナチュラルエイト お笑い芸人</span>
        </div>
      </div>
      <div class="side-bar__recomended-user__user__follow">
        <img src="/images/follow-btn.png" class="side-bar__recomended-user__user__follow__btn">
      </div>
    </div>
  </div>
</div>
<div class="timeline">
  <div class="timeline__header">
    マイニュース
  </div>
  <div class="timeline__list">


    <% @follow_user_comments.each do |comment| %>
      <div class="timeline__list__news">
        <div class="timeline__list__news__above">
          <div class="timeline__list__news__above__pick">
            <div class="timeline__list__news__above__pick__title">
              <%= comment.pick.title %>
            </div>
            <div class="timeline__list__news__above__pick__info">
              <span class="timeline__list__news__above__pick__info__source">スポニチ</span>
              <span class="timeline__list__news__above__pick__info__time">4時間前</span>
            </div>
          </div>
          <div class="timeline__list__news__above__image" style="background-image:url(https://toretame.jp/wp-content/uploads/2018/07/nogizaka21th.jpg)">
            <div class="timeline__list__news__above__image__pick-count">
              <span class="timeline__list__news__above__image__pick-count__num">67</span>Picks
            </div>
          </div>
        </div>
        <div class="timeline__list__news__bottom">
          <div class="timeline__list__news__bottom__user">
            <img class="timeline__list__news__bottom__user__thumb" src="https://www.hochi.co.jp/photo/20180424/20180424-OHT1I50127-T.jpg" alt="">
            <div class="timeline__list__news__bottom__user__info">
              <div class="timeline__list__news__bottom__user__info__name">
                上田　晋也
              </div>
              <div class="timeline__list__news__bottom__user__info__more">
                ナチュラルエイト　お笑い芸人
              </div>
            </div>
          </div>
          <div class="timeline__list__news__bottom__comment">
            ・有田は明治大学の法学部二部に合格していたが、「一緒に早稲田に入ろう」と諭し、浪人につき合わせる
            ・熊本予備校で一浪し、早稲田大学教育学部国語国文学科に合格
            ・有田は早稲田に合格できなかったため、今度は上田が一緒に浪人に付き合ってくれるものと期待したが、上田は「お前は立教がいい」と言い放ち、ひとり早稲田大学に進学した
            ・新歓コンパでは悉く一次会で帰される。場をわきまえず、周りに構わず下半身を露出しているなど、一人で騒ぎ過ぎたため
          </div>
          <div class="timeline__list__news__bottom__like-wrapper">
            いいね
          </div>
        </div>
      </div>
    <% end %>



  </div>
  <div class="timeline__keyword">
    <div class="timeline__keyword__head">
      <div class="timeline__keyword__head__title">
        フォロー中のキーワード
      </div>
      <div class="timeline__keyword__head__more">
        キーワードを探す
      </div>
    </div>
    <div class="timeline__keyword__list">
      <div class="timeline__keyword__list__word">
        IT
      </div>
    </div>
  </div>
</div>
