<div class="side-bar">
  <%= render partial: "current_user" %>
  <div class="side-bar__recomended-user">
    <div class="side-bar__recomended-user__title">
      おすすめユーザー
    </div>
    <div class="side-bar__recomended-user__user">
      <div class="side-bar__recomended-user__user__info">
        <img src="https://img.jisin.jp/wp-content/uploads/2018/05/119600.jpeg" alt="ユーザーサムネイル" class="side-bar__recomended-user__user__info__image">
        <div class="side-bar__recomended-user__user__info__name">
          <span>有田　哲平</span></br>
          <span class="side-bar__recomended-user__user__info__name__more">ナチュラルエイト お笑い芸人</span>
        </div>
      </div>
      <div class="side-bar__recomended-user__user__follow">
        <img src="/images/follow-btn.png" class="side-bar__recomended-user__user__follow__btn">
      </div>
    </div>
  </div>
</div>
<div class="timeline">

</div>
