<div class="content">
  <div class="content__eyecatch">
    <div class="content__eyecatch__main" style="background-image: url(https://cdnx.natalie.mu/media/news/music/2017/0508/MyHairisBad0504_1_fixw_730_hq.jpg);">
      <div class="content__eyecatch__main__pick-count">
      </div>
      <div class="content__eyecatch__main__title">
      </div>
      <div class="content__eyecatch__main__info">
        <p class="content__eyecatch__main__info__media">ロイター通信</p>
        <p class="content__eyecatch__main__info__time">4時間前</p>
      </div>
    </div>
  </div>
</div>
