<div class="content">
  <!-- メイン -->
  <div class="content__eyecatch">
    <div class="content__eyecatch__main" style="background-image: url(http://www.m-on-music.jp/admin/wp-content/uploads/2016/06/160609-SM-115205.jpg);">
      <div class="content__eyecatch__main__pick-count">
        <span class="content__eyecatch__main__pick-count__num">87</span>
        Picks
      </div>
      <div class="content__eyecatch__main__title">
        My Hair is Bad椎木×話題の美女モデル武居による同世代トーク【前編】
      </div>
      <div class="content__eyecatch__main__info">
        <p class="content__eyecatch__main__info__media">ロイター通信</p>
        <p class="content__eyecatch__main__info__time">4時間前</p>
      </div>
    </div>
    <div class="content__eyecatch__sub">
      <!-- サブ１ -->
      <div class="content__eyecatch__sub-1" style="background-image: url(https://cdnx.natalie.mu/media/news/music/2017/0508/MyHairisBad0504_1_fixw_730_hq.jpg);">
        <div class="content__eyecatch__sub-1__special">
          <div class="content__eyecatch__sub-1__special__logo">
            特集
          </div>
          ライブリポート
        </div>
        <div class="content__eyecatch__sub-1__title">
          My Hair is Bad、過去最大のホームラン打った日比谷野音ワンマン
        </div>
      </div>
      <!-- サブ２ -->
      <div class="content__eyecatch__sub-2" style="background-image: url(http://realsound.jp/wp-content/uploads/2017/09/20170928_mhb1-771x633.jpg);">
        <div class="content__eyecatch__sub-2__special">
            <div class="content__eyecatch__sub-2__special__logo">
              特集
            </div>
            リリース情報
        </div>
        <div class="content__eyecatch__sub-2__title">
          My Hair is Bad、3rdアルバムのタイトルは『mothers』
        </div>
      </div>
    </div>

  </div>
</div>
