<div class="content">
  <!-- トップアイキャッチ -->
  <div class="content__eyecatch">
    <!-- メイン -->
    <div class="content__eyecatch__main" style="background-image: url(http://www.m-on-music.jp/admin/wp-content/uploads/2016/06/160609-SM-115205.jpg);">
      <div class="content__eyecatch__main__pick-count">
        <span class="content__eyecatch__main__pick-count__num">87</span>
        Picks
      </div>
      <div class="content__eyecatch__main__title">
        My Hair is Bad椎木×話題の美女モデル武居による同世代トーク【前編】
      </div>
      <div class="content__eyecatch__main__info">
        <p class="content__eyecatch__main__info__media">ロイター通信</p>
        <p class="content__eyecatch__main__info__time">4時間前</p>
      </div>
    </div>
    <div class="content__eyecatch__sub">
      <!-- サブ１ -->
      <div class="content__eyecatch__sub-1" style="background-image: url(https://cdnx.natalie.mu/media/news/music/2017/0508/MyHairisBad0504_1_fixw_730_hq.jpg);">
        <div class="content__eyecatch__sub-1__special">
          <div class="content__eyecatch__sub-1__special__logo">
            特集
          </div>
          ライブリポート
        </div>
        <div class="content__eyecatch__sub-1__title">
          My Hair is Bad、過去最大のホームラン打った日比谷野音ワンマン
        </div>
      </div>
      <!-- サブ２ -->
      <div class="content__eyecatch__sub-2" style="background-image: url(http://realsound.jp/wp-content/uploads/2017/09/20170928_mhb1-771x633.jpg);">
        <div class="content__eyecatch__sub-2__special">
            <div class="content__eyecatch__sub-2__special__logo">
              特集
            </div>
            リリース情報
        </div>
        <div class="content__eyecatch__sub-2__title">
          My Hair is Bad、3rdアルバムのタイトルは『mothers』
        </div>
      </div>
    </div>
  </div>
  <!-- トップニュース -->
  <div class="content__top-news">
    <!-- 新着ニュースの横/４つ -->
    <div class="content__top-news__side-news">
      <!-- 一個のニュース -->
      <div class="content__top-news__side-news__content">
        <!-- ニュース本編 -->
        <div class="content__top-news__side-news__content__news">
          <div class="content__top-news__side-news__content__news__image" style="background-image: url(https://pbs.twimg.com/media/C9sCf_GV0AIpIOE.jpg);">
          </div>
          <h1 class="content__top-news__side-news__content__news__title">【MV公開！】New Sg「トナリアウ/ONE’S AGAIN」より「ONE’S AGAIN」のMVを公開！</h1>
          <div class="content__top-news__side-news__content__news__info">
            <p class="content__top-news__side-news__content__news__source">THE ORAL CIGARETTES</p>
            <p class="content__top-news__side-news__content__news__time">11時間前</p>
          </div>
        </div>
        <!-- コメントしたユーザー -->
        <div class="content__top-news__side-news__content__users">
          <div class="content__top-news__side-news__content__users__top-user">
            <img class="content__top-news__side-news__content__users__top-user__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <p class="content__top-news__side-news__content__users__top-user__name">田中太郎
              <span class="content__top-news__side-news__content__users__top-user__name__position">コンドミニアムオーナー</span>
            </p>
            <p class="content__top-news__side-news__content__users__top-user__comment">やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。</p>
          </div>
          <div class="content__top-news__side-news__content__users__others">
            <img class="content__top-news__side-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__side-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__side-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__side-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__side-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <p class="content__top-news__side-news__content__users__others__pick-count">
              <span class="content__top-news__side-news__content__users__others__pick-count__num">
                265
              </span>
               Picks
            </p>
          </div>
        </div>
      </div>
      <!-- 一個のニュース -->
      <div class="content__top-news__side-news__content">
        <!-- ニュース本編 -->
        <div class="content__top-news__side-news__content__news">
          <div class="content__top-news__side-news__content__news__image" style="background-image: url(https://pbs.twimg.com/media/C9sCf_GV0AIpIOE.jpg);">
          </div>
          <h1 class="content__top-news__side-news__content__news__title">【MV公開！】New Sg「トナリアウ/ONE’S AGAIN」より「ONE’S AGAIN」のMVを公開！</h1>
          <div class="content__top-news__side-news__content__news__info">
            <p class="content__top-news__side-news__content__news__source">THE ORAL CIGARETTES</p>
            <p class="content__top-news__side-news__content__news__time">11時間前</p>
          </div>
        </div>
        <!-- コメントしたユーザー -->
        <div class="content__top-news__side-news__content__users">
          <div class="content__top-news__side-news__content__users__top-user">
            <img class="content__top-news__side-news__content__users__top-user__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <p class="content__top-news__side-news__content__users__top-user__name">田中太郎
              <span class="content__top-news__side-news__content__users__top-user__name__position">コンドミニアムオーナー</span>
            </p>
            <p class="content__top-news__side-news__content__users__top-user__comment">やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。</p>
          </div>
          <div class="content__top-news__side-news__content__users__others">
            <img class="content__top-news__side-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__side-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__side-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__side-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__side-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <p class="content__top-news__side-news__content__users__others__pick-count">
              <span class="content__top-news__side-news__content__users__others__pick-count__num">
                265
              </span>
               Picks
            </p>
          </div>
        </div>
      </div>
      <!-- 一個のニュース -->
      <div class="content__top-news__side-news__content">
        <!-- ニュース本編 -->
        <div class="content__top-news__side-news__content__news">
          <div class="content__top-news__side-news__content__news__image" style="background-image: url(https://pbs.twimg.com/media/C9sCf_GV0AIpIOE.jpg);">
          </div>
          <h1 class="content__top-news__side-news__content__news__title">【MV公開！】New Sg「トナリアウ/ONE’S AGAIN」より「ONE’S AGAIN」のMVを公開！</h1>
          <div class="content__top-news__side-news__content__news__info">
            <p class="content__top-news__side-news__content__news__source">THE ORAL CIGARETTES</p>
            <p class="content__top-news__side-news__content__news__time">11時間前</p>
          </div>
        </div>
        <!-- コメントしたユーザー -->
        <div class="content__top-news__side-news__content__users">
          <div class="content__top-news__side-news__content__users__top-user">
            <img class="content__top-news__side-news__content__users__top-user__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <p class="content__top-news__side-news__content__users__top-user__name">田中太郎
              <span class="content__top-news__side-news__content__users__top-user__name__position">コンドミニアムオーナー</span>
            </p>
            <p class="content__top-news__side-news__content__users__top-user__comment">やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。</p>
          </div>
          <div class="content__top-news__side-news__content__users__others">
            <img class="content__top-news__side-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__side-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__side-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__side-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__side-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <p class="content__top-news__side-news__content__users__others__pick-count">
              <span class="content__top-news__side-news__content__users__others__pick-count__num">
                265
              </span>
               Picks
            </p>
          </div>
        </div>
      </div>
      <!-- 一個のニュース -->
      <div class="content__top-news__side-news__content">
        <!-- ニュース本編 -->
        <div class="content__top-news__side-news__content__news">
          <div class="content__top-news__side-news__content__news__image" style="background-image: url(https://pbs.twimg.com/media/C9sCf_GV0AIpIOE.jpg);">
          </div>
          <h1 class="content__top-news__side-news__content__news__title">【MV公開！】New Sg「トナリアウ/ONE’S AGAIN」より「ONE’S AGAIN」のMVを公開！</h1>
          <div class="content__top-news__side-news__content__news__info">
            <p class="content__top-news__side-news__content__news__source">THE ORAL CIGARETTES</p>
            <p class="content__top-news__side-news__content__news__time">11時間前</p>
          </div>
        </div>
        <!-- コメントしたユーザー -->
        <div class="content__top-news__side-news__content__users">
          <div class="content__top-news__side-news__content__users__top-user">
            <img class="content__top-news__side-news__content__users__top-user__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <p class="content__top-news__side-news__content__users__top-user__name">田中太郎
              <span class="content__top-news__side-news__content__users__top-user__name__position">コンドミニアムオーナー</span>
            </p>
            <p class="content__top-news__side-news__content__users__top-user__comment">やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。</p>
          </div>
          <div class="content__top-news__side-news__content__users__others">
            <img class="content__top-news__side-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__side-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__side-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__side-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__side-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <p class="content__top-news__side-news__content__users__others__pick-count">
              <span class="content__top-news__side-news__content__users__others__pick-count__num">
                265
              </span>
               Picks
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- 新着ニュース -->
    <div class="content__top-news__newest">
      <p class="content__top-news__newest__head">新着ニュース</p>
      <div class="content__top-news__newest__block">
        <!-- 一個のニュース -->
        <div class="content__top-news__newest__block__content">
          <div class="content__top-news__newest__block__content__title">
            Sassの複数のimportはglobを使って一つにまとめると幸せ
          </div>
          <div class="content__top-news__newest__block__content__info">
            Qiita  10分前
          </div>
        </div>
        <!-- 一個のニュース -->
        <div class="content__top-news__newest__block__content">
          <div class="content__top-news__newest__block__content__title">
            Sassの複数のimportはglobを使って一つにまとめると幸せ
          </div>
          <div class="content__top-news__newest__block__content__info">
            Qiita  10分前
          </div>
        </div>
        <!-- 一個のニュース -->
        <div class="content__top-news__newest__block__content">
          <div class="content__top-news__newest__block__content__title">
            Sassの複数のimportはglobを使って一つにまとめると幸せ
          </div>
          <div class="content__top-news__newest__block__content__info">
            Qiita  10分前
          </div>
        </div>
        <!-- 一個のニュース -->
        <div class="content__top-news__newest__block__content">
          <div class="content__top-news__newest__block__content__title">
            Sassの複数のimportはglobを使って一つにまとめると幸せ
          </div>
          <div class="content__top-news__newest__block__content__info">
            Qiita  10分前
          </div>
        </div>
        <!-- 一個のニュース -->
        <div class="content__top-news__newest__block__content">
          <div class="content__top-news__newest__block__content__title">
            Sassの複数のimportはglobを使って一つにまとめると幸せ
          </div>
          <div class="content__top-news__newest__block__content__info">
            Qiita  10分前
          </div>
        </div>
        <!-- 一個のニュース -->
        <div class="content__top-news__newest__block__content">
          <div class="content__top-news__newest__block__content__title">
            Sassの複数のimportはglobを使って一つにまとめると幸せ
          </div>
          <div class="content__top-news__newest__block__content__info">
            Qiita  10分前
          </div>
        </div>
        <!-- 一個のニュース -->
        <div class="content__top-news__newest__block__content">
          <div class="content__top-news__newest__block__content__title">
            Sassの複数のimportはglobを使って一つにまとめると幸せ
          </div>
          <div class="content__top-news__newest__block__content__info">
            Qiita  10分前
          </div>
        </div>
        <!-- 一個のニュース -->
        <div class="content__top-news__newest__block__content">
          <div class="content__top-news__newest__block__content__title">
            Sassの複数のimportはglobを使って一つにまとめると幸せ
          </div>
          <div class="content__top-news__newest__block__content__info">
            Qiita  10分前
          </div>
        </div>
        <!-- 一個のニュース -->
        <div class="content__top-news__newest__block__content">
          <div class="content__top-news__newest__block__content__title">
            Sassの複数のimportはglobを使って一つにまとめると幸せ
          </div>
          <div class="content__top-news__newest__block__content__info">
            Qiita  10分前
          </div>
        </div>
      </div>
    </div>
    <!-- 残りのトップニュース/３つ -->
    <div class="content__top-news__bottom-news">
      <!-- 一個のニュース -->
      <div class="content__top-news__bottom-news__content">
        <!-- ニュース本編 -->
        <div class="content__top-news__bottom-news__content__news">
          <div class="content__top-news__bottom-news__content__news__image" style="background-image: url(https://pbs.twimg.com/media/C9sCf_GV0AIpIOE.jpg);">
          </div>
          <h1 class="content__top-news__bottom-news__content__news__title">【MV公開！】New Sg「トナリアウ/ONE’S AGAIN」より「ONE’S AGAIN」のMVを公開！</h1>
          <div class="content__top-news__bottom-news__content__news__info">
            <p class="content__top-news__bottom-news__content__news__source">THE ORAL CIGARETTES</p>
            <p class="content__top-news__bottom-news__content__news__time">11時間前</p>
          </div>
        </div>
        <!-- コメントしたユーザー -->
        <div class="content__top-news__bottom-news__content__users">
          <div class="content__top-news__bottom-news__content__users__top-user">
            <img class="content__top-news__bottom-news__content__users__top-user__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <p class="content__top-news__bottom-news__content__users__top-user__name">田中太郎
              <span class="content__top-news__bottom-news__content__users__top-user__name__position">コンドミニアムオーナー</span>
            </p>
            <p class="content__top-news__bottom-news__content__users__top-user__comment">やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。</p>
          </div>
          <div class="content__top-news__bottom-news__content__users__others">
            <img class="content__top-news__bottom-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__bottom-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__bottom-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__bottom-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__bottom-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <p class="content__top-news__bottom-news__content__users__others__pick-count">
              <span class="content__top-news__bottom-news__content__users__others__pick-count__num">
                265
              </span>
               Picks
            </p>
          </div>
        </div>
      </div>
      <!-- 一個のニュース -->
      <div class="content__top-news__bottom-news__content">
        <!-- ニュース本編 -->
        <div class="content__top-news__bottom-news__content__news">
          <div class="content__top-news__bottom-news__content__news__image" style="background-image: url(https://pbs.twimg.com/media/C9sCf_GV0AIpIOE.jpg);">
          </div>
          <h1 class="content__top-news__bottom-news__content__news__title">【MV公開！】New Sg「トナリアウ/ONE’S AGAIN」より「ONE’S AGAIN」のMVを公開！</h1>
          <div class="content__top-news__bottom-news__content__news__info">
            <p class="content__top-news__bottom-news__content__news__source">THE ORAL CIGARETTES</p>
            <p class="content__top-news__bottom-news__content__news__time">11時間前</p>
          </div>
        </div>
        <!-- コメントしたユーザー -->
        <div class="content__top-news__bottom-news__content__users">
          <div class="content__top-news__bottom-news__content__users__top-user">
            <img class="content__top-news__bottom-news__content__users__top-user__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <p class="content__top-news__bottom-news__content__users__top-user__name">田中太郎
              <span class="content__top-news__bottom-news__content__users__top-user__name__position">コンドミニアムオーナー</span>
            </p>
            <p class="content__top-news__bottom-news__content__users__top-user__comment">やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。</p>
          </div>
          <div class="content__top-news__bottom-news__content__users__others">
            <img class="content__top-news__bottom-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__bottom-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__bottom-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__bottom-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__bottom-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <p class="content__top-news__bottom-news__content__users__others__pick-count">
              <span class="content__top-news__bottom-news__content__users__others__pick-count__num">
                265
              </span>
               Picks
            </p>
          </div>
        </div>
      </div>
      <!-- 一個のニュース -->
      <div class="content__top-news__bottom-news__content">
        <!-- ニュース本編 -->
        <div class="content__top-news__bottom-news__content__news">
          <div class="content__top-news__bottom-news__content__news__image" style="background-image: url(https://pbs.twimg.com/media/C9sCf_GV0AIpIOE.jpg);">
          </div>
          <h1 class="content__top-news__bottom-news__content__news__title">【MV公開！】New Sg「トナリアウ/ONE’S AGAIN」より「ONE’S AGAIN」のMVを公開！</h1>
          <div class="content__top-news__bottom-news__content__news__info">
            <p class="content__top-news__bottom-news__content__news__source">THE ORAL CIGARETTES</p>
            <p class="content__top-news__bottom-news__content__news__time">11時間前</p>
          </div>
        </div>
        <!-- コメントしたユーザー -->
        <div class="content__top-news__bottom-news__content__users">
          <div class="content__top-news__bottom-news__content__users__top-user">
            <img class="content__top-news__bottom-news__content__users__top-user__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <p class="content__top-news__bottom-news__content__users__top-user__name">田中太郎
              <span class="content__top-news__bottom-news__content__users__top-user__name__position">コンドミニアムオーナー</span>
            </p>
            <p class="content__top-news__bottom-news__content__users__top-user__comment">やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。</p>
          </div>
          <div class="content__top-news__bottom-news__content__users__others">
            <img class="content__top-news__bottom-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__bottom-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__bottom-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__bottom-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__top-news__bottom-news__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <p class="content__top-news__bottom-news__content__users__others__pick-count">
              <span class="content__top-news__bottom-news__content__users__others__pick-count__num">
                265
              </span>
               Picks
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 各カテゴリーは以下を繰り返す -->
  <!-- 一カテゴリーの３記事 -->
  <div class="content__category">
    <div class="content__category__head">
      <p class="content__category__head__name">NewsPicks オリジナル記事</p>
      <p class="content__category__head__link">NewsPicks オリジナル記事 一覧を見る</p>
    </div>
    <div class="content__category__newses">
      <!-- 一個のニュース -->
      <div class="content__category__newses__content">
        <!-- ニュース本編 -->
        <div class="content__category__newses__content__news">
          <div class="content__category__newses__content__news__image" style="background-image: url(https://pbs.twimg.com/media/C9sCf_GV0AIpIOE.jpg);">
          </div>
          <h1 class="content__category__newses__content__news__title">【MV公開！】New Sg「トナリアウ/ONE’S AGAIN」より「ONE’S AGAIN」のMVを公開！</h1>
          <div class="content__category__newses__content__news__info">
            <p class="content__category__newses__content__news__source">THE ORAL CIGARETTES</p>
            <p class="content__category__newses__content__news__time">11時間前</p>
          </div>
        </div>
        <!-- コメントしたユーザー -->
        <div class="content__category__newses__content__users">
          <div class="content__category__newses__content__users__top-user">
            <img class="content__category__newses__content__users__top-user__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <p class="content__category__newses__content__users__top-user__name">田中太郎
              <span class="content__category__newses__content__users__top-user__name__position">コンドミニアムオーナー</span>
            </p>
            <p class="content__category__newses__content__users__top-user__comment">やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。</p>
          </div>
          <div class="content__category__newses__content__users__others">
            <img class="content__category__newses__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__category__newses__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__category__newses__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__category__newses__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__category__newses__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <p class="content__category__newses__content__users__others__pick-count">
              <span class="content__category__newses__content__users__others__pick-count__num">
                265
              </span>
               Picks
            </p>
          </div>
        </div>
      </div>
      <!-- 一個のニュース -->
      <div class="content__category__newses__content">
        <!-- ニュース本編 -->
        <div class="content__category__newses__content__news">
          <div class="content__category__newses__content__news__image" style="background-image: url(https://pbs.twimg.com/media/C9sCf_GV0AIpIOE.jpg);">
          </div>
          <h1 class="content__category__newses__content__news__title">【MV公開！】New Sg「トナリアウ/ONE’S AGAIN」より「ONE’S AGAIN」のMVを公開！</h1>
          <div class="content__category__newses__content__news__info">
            <p class="content__category__newses__content__news__source">THE ORAL CIGARETTES</p>
            <p class="content__category__newses__content__news__time">11時間前</p>
          </div>
        </div>
        <!-- コメントしたユーザー -->
        <div class="content__category__newses__content__users">
          <div class="content__category__newses__content__users__top-user">
            <img class="content__category__newses__content__users__top-user__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <p class="content__category__newses__content__users__top-user__name">田中太郎
              <span class="content__category__newses__content__users__top-user__name__position">コンドミニアムオーナー</span>
            </p>
            <p class="content__category__newses__content__users__top-user__comment">やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。</p>
          </div>
          <div class="content__category__newses__content__users__others">
            <img class="content__category__newses__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__category__newses__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__category__newses__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__category__newses__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__category__newses__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <p class="content__category__newses__content__users__others__pick-count">
              <span class="content__category__newses__content__users__others__pick-count__num">
                265
              </span>
               Picks
            </p>
          </div>
        </div>
      </div>
      <!-- 一個のニュース -->
      <div class="content__category__newses__content">
        <!-- ニュース本編 -->
        <div class="content__category__newses__content__news">
          <div class="content__category__newses__content__news__image" style="background-image: url(https://pbs.twimg.com/media/C9sCf_GV0AIpIOE.jpg);">
          </div>
          <h1 class="content__category__newses__content__news__title">【MV公開！】New Sg「トナリアウ/ONE’S AGAIN」より「ONE’S AGAIN」のMVを公開！</h1>
          <div class="content__category__newses__content__news__info">
            <p class="content__category__newses__content__news__source">THE ORAL CIGARETTES</p>
            <p class="content__category__newses__content__news__time">11時間前</p>
          </div>
        </div>
        <!-- コメントしたユーザー -->
        <div class="content__category__newses__content__users">
          <div class="content__category__newses__content__users__top-user">
            <img class="content__category__newses__content__users__top-user__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <p class="content__category__newses__content__users__top-user__name">田中太郎
              <span class="content__category__newses__content__users__top-user__name__position">コンドミニアムオーナー</span>
            </p>
            <p class="content__category__newses__content__users__top-user__comment">やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。やっときたか。売れてからライブ行けてない。行きたい。夏フェスは楽しむがモットーですね。</p>
          </div>
          <div class="content__category__newses__content__users__others">
            <img class="content__category__newses__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__category__newses__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__category__newses__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__category__newses__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <img class="content__category__newses__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
            <p class="content__category__newses__content__users__others__pick-count">
              <span class="content__category__newses__content__users__others__pick-count__num">
                265
              </span>
               Picks
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ユーザーランキング -->
  <div class="content__user-ranking">
    <div class="content__user-ranking__head">
      <p class="content__user-ranking__head__name">ユーザーランキング</p>
      <p class="content__user-ranking__head__link">ユーザーランキング 一覧を見る</p>
    </div>
    <div class="content__user-ranking__users">
      <!-- １行目 -->
      <div class="content__user-ranking__users__paragraf-1">
        <!-- １ユーザー -->
        <div class="content__user-ranking__users__paragraf-1__user">
          <div class="content__user-ranking__users__paragraf-1__user__image">
            <div class="content__user-ranking__users__paragraf-1__user__image__rank">
              1
            </div>
            <img class="content__user-ranking__users__paragraf-1__user__image__user" src="https://geinou-navi.com/wp-content/uploads/2018/07/ishiharasatomi2-5.jpg" alt="アイコン">
          </div>
          <div class="content__user-ranking__users__paragraf-1__user__info">
            <p class="content__user-ranking__users__paragraf-1__user__info__name">花本五郎</p>
            <p class="content__user-ranking__users__paragraf-1__user__info__position">弁護士</p>
            <p class="content__user-ranking__users__paragraf-1__user__info__like-count">週間 Liked ユーザー数: <span class="content__user-ranking__users__paragraf-1__user__info__like-count__num">2347</span></p>
          </div>
          <div class="content__user-ranking__users__paragraf-1__user__follow">
            フォローする
          </div>
        </div>
        <!-- １ユーザー -->
        <div class="content__user-ranking__users__paragraf-1__user">
          <div class="content__user-ranking__users__paragraf-1__user__image">
            <div class="content__user-ranking__users__paragraf-1__user__image__rank">
              1
            </div>
            <img class="content__user-ranking__users__paragraf-1__user__image__user" src="https://geinou-navi.com/wp-content/uploads/2018/07/ishiharasatomi2-5.jpg" alt="アイコン">
          </div>
          <div class="content__user-ranking__users__paragraf-1__user__info">
            <p class="content__user-ranking__users__paragraf-1__user__info__name">花本五郎</p>
            <p class="content__user-ranking__users__paragraf-1__user__info__position">弁護士</p>
            <p class="content__user-ranking__users__paragraf-1__user__info__like-count">週間 Liked ユーザー数: <span class="content__user-ranking__users__paragraf-1__user__info__like-count__num">2347</span></p>
          </div>
          <div class="content__user-ranking__users__paragraf-1__user__follow">
            フォローする
          </div>
        </div>
      </div>
      <!-- ２行目 -->
      <div class="content__user-ranking__users__paragraf-2">
        <!-- 1ユーザー -->
        <div class="content__user-ranking__users__paragraf-2__user">
          <div class="content__user-ranking__users__paragraf-2__user__image">
            <div class="content__user-ranking__users__paragraf-2__user__image__rank">
              1
            </div>
            <img class="content__user-ranking__users__paragraf-2__user__image__user" src="https://geinou-navi.com/wp-content/uploads/2018/07/ishiharasatomi2-5.jpg" alt="アイコン">
          </div>
          <div class="content__user-ranking__users__paragraf-2__user__info">
            <p class="content__user-ranking__users__paragraf-2__user__info__name">花本五郎</p>
            <p class="content__user-ranking__users__paragraf-2__user__info__position">弁護士</p>
            <p class="content__user-ranking__users__paragraf-2__user__info__like-count">週間 Liked ユーザー数: <span class="content__user-ranking__users__paragraf-2__user__info__like-count__num">2347</span></p>
          </div>
          <div class="content__user-ranking__users__paragraf-2__user__follow">
            フォローする
          </div>
        </div>
        <!-- １ユーザー -->
        <div class="content__user-ranking__users__paragraf-2__user">
          <div class="content__user-ranking__users__paragraf-2__user__image">
            <div class="content__user-ranking__users__paragraf-2__user__image__rank">
              1
            </div>
            <img class="content__user-ranking__users__paragraf-2__user__image__user" src="https://geinou-navi.com/wp-content/uploads/2018/07/ishiharasatomi2-5.jpg" alt="アイコン">
          </div>
          <div class="content__user-ranking__users__paragraf-2__user__info">
            <p class="content__user-ranking__users__paragraf-2__user__info__name">花本五郎</p>
            <p class="content__user-ranking__users__paragraf-2__user__info__position">弁護士</p>
            <p class="content__user-ranking__users__paragraf-2__user__info__like-count">週間 Liked ユーザー数: <span class="content__user-ranking__users__paragraf-2__user__info__like-count__num">2347</span></p>
          </div>
          <div class="content__user-ranking__users__paragraf-2__user__follow">
            フォローする
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content__comment-ranking">
    <div class="content__comment-ranking__head">
      <p class="content__comment-ranking__head__name">コメントランキング</p>
      <p class="content__comment-ranking__head__link">コメントランキング 一覧を見る</p>
      <div class="content__comment-ranking__comments">

      </div>
    </div>
  </div>
</div>
