<% if comment.user.id == current_user.id %>
  <div class="comment-menu" id="<%= comment.id %>">
    <div class="menu-btn"></div>
    <div class="popover" style="">
      <div class="nozzle-border"></div>
      <div class="nozzle"></div>
      <div class="comment-menu-items" id="<%= comment.id %>">
        <div class="comment-menu-item comment-edit-btn">編集</div>
        <%= link_to "削除", "/comments/#{comment.id}", class: "comment-menu-item comment-delete-btn", remote: true%>
      </div>
    </div>
  </div>
<% else %>
  <div class="drop-down-button">
    <div class="drop-down-button-1">⋮</div>
  </div>
<% end %>
