<% if comment.user.id == current_user.id %>
  <div class="comment-menu" id="<%= comment.id %>">
    <div class="menu-btn"></div>
    <div class="popover" style="">
      <div class="nozzle-border"></div>
      <div class="nozzle"></div>
      <div class="comment-menu-items" id="<%= comment.id %>">
        <div class="comment-menu-item comment-edit-btn">編集</div>
        <%= link_to "削除", "/comments/#{comment.id}", class: "comment-menu-item comment-delete-btn", remote: true%>
      </div>
    </div>
  </div>
<% else %>
  <div class="drop-down-button">
    <div class="drop-down-button-1">⋮</div>
    <div class="popover" style="top: 2392px; left: 629px;">
      <div class="menu-item follow-item follow" data-permitted="true" data-user="720557">
        <div class="menu-icon follow-icon">
          <div class="followed-button" style="display: none;">
            <img src="/images/followed.d36b8104.png">
          </div>
          <div class="follow-button">
            <img src="/images/follow.3ce23064.png">
          </div> <div class="loading" style="display: none;">
            <img src="/images/loading.e1ce83e8.gif">
          </div>
        </div>
        <div class="description">このユーザーをフォロー</div>
      </div>
      <div class="menu-item mute-item" data-user="720557">
        <img class="menu-icon mute" src="/images/mute-icon.1c32ff3a.png">
        <div class="description">このユーザーのコメントを非表示</div>
      </div>
      <div class="menu-item report-item" data-news="3290714" data-user="720557" data-comment-version="1">
        <img class="menu-icon report" src="/images/report-icon.d40a62fd.png">
        <div class="description">問題を報告</div>
      </div>
      <div class="muted-panel-container" style="display: none">
        <div class="muted-panel-wrapper">
          <div class="muted-panel">
            <div class="muted-icon">
              <img src="/images/ic-check-muted.65883152.png">
            </div>
            <div class="muted-caption">ユーザーのコメントを非表示にしました。</div>
            <div class="unmute-button">
              <span>元に戻す</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
