<div class= "right-container">
  <div class="news-outline">
    <div class="side-news-wrapper">
      <div class="side-news-section-title">関連記事一覧</div>
        <a class="side-news" href="/news/3261260?block=side-news-similar">
          <div class="side-news-image" style="background-image:url(https://contents.newspicks.com/images/news/3261260?updatedAt=20180822015801&amp;width=280&amp;height=112)"></div>
          <div class="side-news-body">
            <div class="side-news-title _ellipsised" style="overflow: initial;">“意識高い系”が仇となり大手を辞め起業して陥った37歳の「マイルド貧困」
            </div>
            <span class="caption">ダイヤモンド・オンライン</span>
            <span class="caption">9時間前</span>
            <div class="pick-count black">
              <div class="picks-cover"></div>
              <div class="labels">
                <span class="value">134</span>
                <span class="unit">Picks</span>
              </div>
            </div>
          <hr>
        </div>
      </a>
    </div>
  </div>
</div>
