<div class="side-bar">
  <%= render partial: "./users/current_user" %>
  <% if user_signed_in? %>
    <%= link_to "/users/#{current_user.id}/timeline", id: 'my-news' do %>
      <div class="side-bar__my-news">
        マイニュース
      </div>
    <% end %>
  <% end %>
  <div class="side-bar__keyword-news">
  </div>
</div>
