<div class="side-bar">
  <div class="side-bar__user">
    <div class="side-bar__user__info">
      <img class="side-bar__user__info__icon" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="">
      <p class="side-bar__user__info__name">田中 太郎</p>
    </div>
    <div class="side-bar__user__follow-count">
      <div class="side-bar__user__follow-count__follow">
        <p class="side-bar__user__follow-count__follow__num">235</p>
        <p class="side-bar__user__follow-count__follow__unit">フォロー</p>
      </div>
      <div class="side-bar__user__follow-count__follower">
        <p class="side-bar__user__follow-count__follow__num">64</p>
        <p class="side-bar__user__follow-count__follow__unit">フォロワー</p>
      </div>
    </div>
  </div>
  <div class="side-bar__my-news">
    マイニュース
  </div>
  <div class="side-bar__keyword-news">

    <div class="side-bar__keyword-news__news">
      <span>[keyword]の記事</span>
      <!-- 記事 -->
      <div class="side-bar__keyword-news__news__user">
      <!--           <img src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="user-image"> -->
        <img class="side-bar__keyword-news__news__user__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg">
        <span class="side-bar__keyword-news__news__user__name">滝藤賢一</span>
        <span class="side-bar__keyword-news__news__user__time">1時間前</span>
      </div>
      <p class="side-bar__keyword-news__news__text">今年の桜は例年よりも散るのが早く、例年より綺麗です。恋人との儚いお別れを表すかのように、花はただそこに咲いています。ぜひ見に行ってはいかがでしょうか？</p>
    </div>

  </div>
</div>
