<div class="back">
  <div class="form">
    <h2>URLを入力して\nおすすめの記事を共有しましょう</h2>
    <%= form_for(@new_pick.build) do |f| %>
      <%= f.label :URL %>
      <%= f.text_area :url %>
      <%= f.submit :Pickする %>
    <% end %>
  </div>
</div>
