<div class="contents-container">
  <div class="pick-stream fixed-left">
  </div>
  <div class="page-content">
    <div class="breadcrumbs">
      <div class="link-wrapper">
        <a href="/" class="unknown-page">
          <div>
            <img src="/images/arrow-left.9f9d0ff2.png">
          </div>
          <div class="label">
            総合トップ
          </div>
        </a>
      </div>
    </div>
    <div class="news-summary">
      <div class="news-summary-container">
        <div class= "contents-area">
          <div>
            <a class="news-image-link" href="https://this.kiji.is/404381710525383777" target="_blank">
              <div class="news-image" style="background-image:url(https://contents.newspicks.com/images/news/3257853?updatedAt=20180821015534)">
              </div>
            </a>
          </div>
          <div class="news">
            <a class="title-link" href="https://this.kiji.is/404381710525383777" target="_blank">
              <h1 class="title bordered economic ">
                総裁選、9月20日投開票に決定 首相と石破氏一騎打ちへ
              </h1>
            </a>
            <div class="meta">
              <div class="meta-block">
                <div class="icon-image">
                  <img src="/images/publisher.a6ed8ad6.png">
                </div>
                <span class="caption">共同通信</span>
              </div>
              <div class="meta-block clear">
                <div class="icon-image">
                  <img src="/images/published.74411437.png">
                </div>
                <span class="caption">1時間前</span>
                ::after
              </div>
            </div>
            <div>
              <a class="read-more center" href="https://this.kiji.is/404381710525383777" target="_blank">続きを読む</a>
            </div>
          </div>
          <div class= "news-comment">
            <div class="pick-editor">
              <div class="pick-area embedded">
                <div class="comment-area">
                  <img class="cover" src="/users/2351416/cover?width=100&amp;height=100&amp;circle=true&amp;t=20180815102934000">
                  <div class="comment-container">
                    <textarea class="comment" name="commentValue" placeholder="コメントを書く（任意）"></textarea>
                  </div>
                  <div class="pick-control">
                    <div class="description">シェアする</div>
                    <div class="sns twitter">
                      <img class="share-normal" src="/images/twitter_gr.66bcb5fe.png" title="off">
                      <img class="share-selected" src="/images/twitter.f04be6e0.png" title="post to twitter">
                    </div>
                    <div class="sns facebook">
                      <img class="share-normal" src="/images/facebook_gr.17203d35.png" title="off">
                      <img class="share-selected" src="/images/facebook.89083ca0.png" title="post to facebook">
                    </div>
                    <div class="pick">
                      <img alt="pick" src="/images/btn-pick.1fa6973d.png">
                    </div>
                    ::after
                  </div>
                </div>
                <hr>
                <div class="comments">
                  <div class="comments">
                    <div class="populars" style="display: block">
                      <div class="section-header">注目のコメント</div>
                      <div class="comment-container">
                        <div class="comment-row no-border" data-user="267866" data-news="3250274" follow-user="false" data-comment-version="1" mute-disable="false">
                          <div>
                            <a onclick="NP.showUserSummary(event)" data-user="267866" href="/user/267866?ref=news-summary_3250274">
                              <div class="user-cover" style="background-image:url(/users/267866/cover?width=100&amp;height=100&amp;circle=true&amp;t=20171003095643000);">
                              </div>
                            </a>
                            <div class="user-profile">
                              <a onclick="NP.showUserSummary(event)" data-user="267866" href="/user/267866?ref=news-summary_3250274">
                                <div class="name-wrapper">
                                  <div class="name">
                                    横田 孝
                                  </div>
                                </div>
                              </a>
                              <div class="job">
                                NewsPicks チーフ・グローバルエディター／副編集長
                              </div>
                              <div class="picktime">
                                6時間前
                              </div>
                              <div class="drop-down-button">
                                <div>⋮</div>
                              </div>
                            </div>
                          </div>
                          <div class="comment-wrapper">
                            <div class="comment">
                              顔認識技術によって、空港の保安検査の円滑化や無人レジの実現などのメリットがある一方で、とりわけ欧米のメディアでは警戒感が広がっています。最大の理由はプライバシーと、警察などによる無差別のプロファイリングが可能になることへの懸念。<br>フェイスブックはケンブリッジ・アナリティカを巡り8700万人に及ぶ個人情報流出の件で信頼に傷がつき、ネガティブイメージをまだ払拭仕切れていません。その中で顔認識技術を推進しようとしても、理解を得るのはなかなか難しいかもしれません。
                            </div>
                            <div class="like-panel">
                              <div class="like-wrapper">
                                <div class="like" onclick="NP.like(this)" data-user="267866" data-liked="false" data-news="3250274">
                                  <img class="thumb-up-r" src="/images/like-r.ec360fd4.png">
                                  <img class="thumb-up-g" src="/images/like-g.bad78a75.png">
                                  <div class="count">
                                    14
                                  </div>
                                  <div class="like-label">Likes
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="embedded-pick-editor" style="display:none">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
          </div>
          <div class= "right-container">
            <div class="news-outline">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

