.content {
  background: #eee;
  width: calc(85vw - 10px);
  height: calc(100vh - 40px);
  float: right;
  padding-top: 50px;
  overflow: scroll;
  &__eyecatch {
    height: 45vh;
    width: 100%;
    color: #fff;
    cursor: pointer;
    &__main {
      &__slick {
        width: calc(55vw - 6px);
        height: 45vh;
        float: left;
      }
      height: 45vh;
      width: calc(55vw - 6px);
      float: left;
      background-size: cover;
      padding: 10px;
      position: relative;
      @include cover-darken();
      &__pick-count {
        margin-top: 23vh;
        margin-left: 50px;
        border: 1px solid #fff;
        font-size: 10px;
        width: 80px;
        text-align: center;
        padding: 2px;
        &__num {
          font-size: 16px;
          font-weight: bold;
        }
      }
      &__title {
        font-size: 4vh;
        font-weight: bold;
        padding: 0 50px 0;
      }
      &__info {
        padding-left: 50px;
        font-size: 14px;
        color: #ccc;
        &__media {
          float: left;
          padding-right: 10px;
        }
        &__time {
          float: left;
        }
      }
    }
    &__sub {
      float: right;
      width: calc(30vw - 4px);
      height: 45vh;
    }
    &__sub-1 {
      height: 24vh;
      margin-bottom: 4px;
      background-size: cover;
      position: relative;
      @include cover-darken();
      &__special {
        font-size: 10px;
        margin: 0 15px 7px;
        padding-top: 10vh;
        &__logo {
          border: 1px solid #fff;
          width: 30px;
          height: 15px;
          text-align: center;
          float: left;
          margin-right: 10px;
        }
      }
      &__title {
        clear: both;
        font-size: 2.5vh;
        font-weight: bold;
        padding-left: 10px;
      }
    }
    &__sub-2 {
      height: 23vh;
      margin-bottom: 4px;
      background-size: cover;
      position: relative;
      @include cover-darken();
      &__special {
        font-size: 10px;
        margin: 0 15px 7px;
        padding-top: 10vh;
        &__logo {
          border: 1px solid #fff;
          width: 30px;
          height: 15px;
          text-align: center;
          float: left;
          margin-right: 10px;
        }
      }
      &__title {
        padding-left: 10px;
        clear: both;
        font-size: 2.5vh;
        font-weight: bold;
      }
    }
  }
  &__top-news {
    padding: 50px 24px 32px;
    &__side-news {
      padding-left: 30px;
      float: left;
      width: 50vw;
      @include one_content();
    }
    &__newest {
      width: 22vw;
      min-width: 300px;
      // height: calc(78vh + 255px);
      height: 100%;
      background-color: #fff;
      float: left;
      padding: 1vh 1vw;
      &__head {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 30px;
      }
      &__block {
        &__link{
          :hover{
            opacity: 0.7;
          }
        }
        &__content {
          border-bottom: 1px solid #ccc;
          padding: 10px 0;
          height: 60px;
          overflow: hidden;
          &__title {
            font-size: 14px;
            color: #333;
            font-weight: bold;
            padding-bottom: 5px;
            height: 37px;
            margin-bottom: 10px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }
          &__info {
            font-size: 10px;
            color: #bbb;
            height: 14px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }
        }
      }
    }
    &__bottom-news {
      padding: 0 0 50px 30px;
      float: left;
      @include one_content();
    }
  }
  &__category {
    clear: both;
    padding: 0 24px 50px 54px;  //top-newsとbottom-newsのpaddingの和から計算
    @include content_head();
    &__newses {
      clear: both;
      @include one_content();
    }
  }
  &__user-ranking {
    clear: both;
    padding: 50px 24px 50px 54px;  //top-newsとbottom-newsのpaddingの和から計算
    @include content_head();
    &__users {
      &__paragraf-1 {
        @include user_of_user_ranking();
      }
      &__paragraf-2 {
        @include user_of_user_ranking();
      }
    }
  }
  &__comment-ranking {
    clear: both;
    padding: 50px 24px 50px 54px;  //top-newsとbottom-newsのpaddingの和から計算
    @include content_head();
    &__comments {
      clear: both;
      padding-top: 25px;
      &__paragraf-1 {
        @include one_comment();
      }
      &__paragraf-2 {
        @include one_comment();
      }
    }
  }
  &__footer {
    border-top: 1px solid #999;
    padding: 20px 60px;
    clear: both;
    &__items {
      font-size: 12px;
      color: #999;
      &__item {
        display: inline-block;
        margin: 0 5px;
      }
    }
  }
}
