#library-wrapper{
  .library_page{
    background: #EFEFEF;
    float: right;
    width: calc(85vw - 10px);
    height: 100%;
    @include tab();
    .tab-content{
      width: 95%;
      margin: auto;
      margin-top: 30px;
      background-color: #FFF;
      .tab-content-selected{
        .items{
          .recommended{
            .featured{
              border-bottom: 8px solid #EAEAEA;
              @include main_card();
            }
            .categorized{
              border-bottom: 8px solid #EAEAEA;
              @include main_card();
            }
          }
        }
      }
      &__paragraf {
        @include one_comment();
      }
      .items-user-ranking{
        background-color: #EFEFEF;
        .a-user-in-ranking{
          background: #FFF;
          display: block;
          position: relative;
          color: inherit;
          text-decoration: none;
          outline: 0;
          margin-bottom: 8px;
          .user-ranking-wrapper{
            height: 96px;
            vertical-align: middle;
            display: table;
            .ranking-order{
              display: table-cell;
              vertical-align: middle;
              height: 100%;
              padding: 0 20px;
              span{
                border-radius: 20px;
                border: 1px solid #666;
                width: 30px;
                height: 30px;
                display: inline-block;
                text-align: center;
                line-height: 200%;
              }
              ._1{
                border-color: #DBB25E;
                background-color: #DBB25E;
                color: #FFF;
              }
              ._2{
                border-color: #15274D;
                background-color: #15274D;
                color: #FFF;
              }
              ._3{
                border-color: #BC7845;
                background-color: #BC7845;
                color: #FFF;
              }
            }
            .usercover{
              display: table-cell;
              vertical-align: middle;
              height: 100%;
              &__icon{
                width: 48px;
                height: 48px;
                border-radius: 50%;
              }
            }
            .userinfo{
              display: table-cell;
              vertical-align: middle;
              height: 100%;
              padding: 0 20px;
              max-width: 475px;
              .name-wrapper{
                height: 20px;
                .username{
                  display: inline-block;
                  float: left;
                  font-weight: 700;
                  height: 100%;
                }
                .picker-badges{
                  display: inline-block;
                  vertical-align: top;
                }
                .picker-badges .small{
                  margin-top: 0;
                  font-size: 86%;
                  margin-left: 8px;
                  img{
                    height: auto;
                    width: 24px;
                  }
                }
              }
              .title{
                color: #221f20;
                font-size: 12px;
              }
              .likes{
                color: #999;
                font-size: 12px;
                .t{
                  margin-right: 3px;
                }
                em{
                  font-style: normal;
                  color: #221f20;
                }
              }
            }
          }
        }
      }
    }
  }
}


