.font-bold {
    font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

img {
  vertical-align: middle;
  outline: 0;
}

.notification-container {
  top: 45px;
  right: 90px;
  position: fixed;
  z-index: 5000;
  padding: 5px 0;
  .popover {
    position: relative;
    width: 400px;
    height: 360px;
    background: #FFF;
    .nozzle-border {
      content: "";
      position: absolute;
      top: -11px;
      right: 8px;
      width: 0;
      height: 0;
      border-bottom: 10px solid #D9D9D9;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
    .nozzle {
      content: "";
      position: absolute;
      top: -10px;
      right: 8px;
      margin-left: -10px;
      width: 0;
      height: 0;
      border-bottom: 10px solid #FFF;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
    .notification-header {
      font-size: 12px;
      padding: 7.5px 16px;
      .title {
        float: left;
      }
      .query-link {
        float: right;
        a{
          color: #37509C;
          text-decoration: none;
          outline: 0;
        }
      }
      &:after{
        display: block;
        content: '';
        clear: both;
      }
    }
    .notification-content {
      width: 400px;
      border-top: 1px solid #D3DDE9;
      overflow-y: auto;
      max-height: 360px;
      background-color: #FFF;
      font-size: 14px;
      .nothing {
        display: none;
        padding: 16px 0;
        text-align: center;
      }
      .error {
        display: none;
        padding: 16px 0;
        text-align: center;
      }
      .wrapper {
        box-sizing: border-box;
        .notification {
          border-bottom: 1px solid #D3DDE9;
          box-sizing: border-box;
          display: block;
          .picture-link {
            display: table-cell;
            vertical-align: top;
            cursor: pointer;
            padding: 12px;
            img {
              width: 48px;
              height: 48px;
            }
          }
          .label-link {
            padding-left: 0;
            width: 100%;
            display: table-cell;
            vertical-align: top;
            cursor: pointer;
            padding: 12px;
            .message {
              font-size: 12px;
              line-height: 140%;
            }
            .time {
              color: #999;
              font-size: 12px;
              margin-top: 2px;
            }
          }
        }
      }
    }
  }
}
