.wrapper{
  .theme-page{
    background: #EFEFEF;
    float: right;
    width: calc(85vw - 10px);
    height: 100vh;
    overflow: scroll;
    .theme-title{
      background-color: #FFF;
      padding: 16px 0 14px;
      margin-top: 55px;
      .centering-theme-title{
        width: 1050px;
        margin: auto;
        color: #221f20;
        font-weight: 700;
      }
    }
    .theme-news{
      padding: 24px 0 0;
      .left-theme-news{
        width: 750px;
        margin-left: 85px;
        float: left;
        .news-card{
          margin-right: 0;
          margin-bottom: 24px;
          background-color: #FFF;
          position: relative;
          transition: all .1s linear;
          width: 712px;
          height: auto;
          a{
            :hover{
             opacity: 0.7;
            }
            .theme-top-thumbnail{
              height: 284.8px;
              background-size: cover;
              background-position: center;
              transition: all .1s linear;
            }
            .theme-news-title{
              max-height: 64px;
              font-size: 20px;
              height: auto;
              margin: 16px 16px 8px;
              font-weight: 700;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }
          }
          .meta{
            padding: 8px 20px 24px;
            max-height: 32px;
            position: static;
            border-bottom: 1px solid #EAEAEA;
            font-size: 10px;
            margin: 8px 16px 0;
            color: #999;
            .publisher-container{
              .publisher{
                max-width: 50%;
                height: 15px;
                display: block;
                word-break: break-word;
                float: left;
                margin-right: 10px;
              }
            }
          }
          .theme-news-user-comment{
            min-height: 80px;
            max-height: 136px;
            margin: 16px 16px 5px;
            font-size: 13px;
            a{
              color: inherit;
              text-decoration: none;
              outline: 0;
              background-color: transparent;
              .profile{
                height: 40px;
                img{
                  margin-top: 1px;
                  margin-right: 8px;
                  width: 32px;
                  height: 32px;
                  float: left;
                  vertical-align: middle;
                  outline: 0;
                  border-radius: 50%;
                }
                .details{
                  height: 18px;
                  .name{
                    font-size: 14px;
                    font-weight: 700;
                  }
                  .job{
                    font-size: 12px;
                    color: #999;
                    height: 17px;
                    margin-left: 8px;
                  }
                }
              }
              .comment{
                line-height: 1.4;
                height: 100%;
                overflow: initial;
                word-wrap: break-word;
                margin-top: -1em;
                margin-left: 40px;
                max-height: 52px;
              }
            }
            .pickers{
              height: 44px;
              ul{
                list-style-type: none;
                padding: 0;
                li{
                  a{
                    img{
                      width: 24px;
                      height: 24px;
                    }
                  }
                }
              }
            }
          }
        }
        .content__top-news__side-news__content{
          margin: 0 3vw 2vh 0;
        }
      }
      .right-theme-news{
        margin-left: 32px;
        width: 304px;
        float: left;
        .block_title{
          margin: 32px 0;
          font-weight: 700;
          color: #221f20;
        }
        .mini-news-container{
          display: flex;
          .mini-news{
            margin-bottom: 32px;
            display: block;
            .left-box{
              float: left;
              .picture{
                width: 80px;
                height: 80px;
                background: 0 0/cover no-repeat #999;
              }
            }
            .right-box{
              margin-left: 88px;
              .title{
                height: 40px;
                font-weight: 700;
                color: #221f20;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
              }
              .meta{
                margin-top: 3px;
                font-size: 12px;
                color: #999;
                .publisher{
                  max-width: 100%;
                  display: block;
                  height: 14px;
                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 1;
                }
                .published{
                  margin-top: 3px;
                }
              }
            }
          }
        }
      }
    }
  }
}
