.themes_bar_container{
   position: relative;
  .themes_bar{
    display: flex;
    flex-direction: column;
    background: #FFF;
    width: 240px;
    z-index: 5000;
    position: fixed;
    top: 51px;
    left: auto;
    bottom: 10px;
    box-shadow: 2px 2px 8px #CCC;
    .main_menu{
      margin: 16px 0;
      @include one_theme_link();
    }
    .themes_menu{
      border-top: 1px solid #CCC;
      overflow: auto;
      .theme_titles{
        margin: 16px 0 16px 24px;
        color: #221f20;
        font-size: 12px;
      }
      @include one_theme_link();
    }
  }
}
