.back {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.overlay {
  padding: 80px;
}

.form {
  width: 350px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  z-index: 4;
}


.back{
  .form{
    margin: 100px auto;
  }
}
