.back {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 80px;
  height: calc(100vh - 160px);
  overflow: scroll;
}

.form {
  margin: 0 auto;
  width: 400px;
  text-align: center;
  background-color: #fff;
}
