.timeline {
  background-color: #efefef;
  width: calc(85vw - 10px);
  height: 100vh;
  float: right;
  &__header {

  }
  &__list {
    &__news {
      &__above {

      }
      &__bottom {

      }
    }
  }
  &__keyword {

  }
}
