@mixin one_content() {
  &__content {
    background-color: #fff;
    width: 23vw;
    min-width: 300px;
    height: calc(38vh + 135px);
    float: left;
    margin: 0 2vw 2vh 0;
    &__news {
      border-bottom: 1px solid #ddd;
      margin-bottom: 20px;
      &__link{
        :hover{
          opacity: 0.7;
        }
      }
      &__image {
        width: 100%;
        height: 20vh;
        background-size: cover;
      }
      &__title {
        font-size: 2.7vh;
        font-weight: bold;
        padding: 15px;
        height: 5vh;
        line-height: 130%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
      &__info {
        padding: 5px;
        &::after {
          clear: both;
          content: '';
          display: block;
        }
      }
      &__source {
        font-size: 10px;
        color: #bbb;
        float: left;
        padding-left: 7px;
      }
      &__time {
        font-size: 10px;
        color: #bbb;
        float: left;
        padding-left: 7px;
      }
    }
    &__users {
      padding: 0 15px 15px;
      &::after {
        clear: both;
        content: '';
        display: block;
      }
      &__top-user {
        &__image {
          width: 28px;
          height: 28px;
          border-radius: 50%;
        }
        &__name {
          font-weight: bold;
          font-size: 14px;
          padding-right: 2.5vw;
          float: right;
          &__position {
            padding-left: 7px;
            font-size: 12px;
            color: #bbb;
          }
        }
        &__comment {
          font-size: 13px;
          clear: both;
          padding-left: 40px;
          overflow: hidden;
          height: 50px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
        }
      }
      &__others {
        padding-top: 10px;
        &__image {
          width: 25px;
          height: 25px;
          border-radius: 50%;
        }
        &__pick-count {
          height: 25px;
          line-height: 25px;
          display: inline-block;
          font-size: 12px;
          float: right;
          padding: 2px 15px 0 0;
          &__num {
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@mixin content_head() {
  &__head {
    width: 100%;
    height: 40px;
    &__name {
      float: left;
      font-weight: bold;
    }
    &__link {
      float: right;
      font-size: 14px;
      padding-right: calc(3vw + 30px);
    }
  }
}

@mixin user_of_user_ranking() {
  &__user {
    background-color: #fff;
    width: 35.5vw;
    min-width: 480px;
    height: 96px;
    float: left;
    margin: 0 20px 20px 0;
    &__image {
      float: left;
      padding: 0 15px;
      margin: 20px 0 28px;
      &__rank {
        background-color: #8EB8FF;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        display: inline-block;
        margin: 4px 4px;
      }
      &__user {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
      }
    }
    &__info {
      display: inline-block;
      margin: 20px 0 24px;
      &__name {
        font-weight: bold;
      }
      &__position {
        font-size: 12px;
      }
      &__like-count {
        font-size: 10px;
        color: #aaa;
        &__num {
          color: #222;
        }
      }
    }
    &__follow {
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      line-height: 150%;
      width: 90px;
      float: right;
      margin: 41px;
      a{
        img{
          height: 20px;
          width: auto;
          border-radius: 0%;
        }
      }
    }
  }
}

@mixin one_comment() {
  &__comment {
    background-color: #fff;
    width: 440px;
    display: inline-block;
    float: left;
    margin: 0 20px 20px 0;
    padding: 20px;
    position: relative;
    &__user {
      &:after {
        clear: both;
        content: '';
        display: block;
      }
      &__image {
        display: inline-block;
        &__rank {
          width: 40px;
          height: 50px;
          line-height: 50px;
          background-color: #f2cf01;
          font-size: 18px;
          text-align: center;
          display: inline-block;
          position: absolute;
          top: 0;
          left: 20px;
        }
        &__user {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          margin-left: 50px;
          float: left;
        }
      }
      &__info {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        &__name {
          font-weight: bold;
          font-size: 16px;
          display: inline-block;
          .badge {
            display: inline-block;
            img{
              height: 20px;
              width: auto;
              border-radius: 0%;
            }
          }
        }
        &__position {
          font-size: 12px;
          color: #999;
        }
      }
      &__right-block {
        float: right;
        margin-top: 10px;
      }
      &__like-count {
        font-size: 7px;
        display: inline-block;
        margin-right: 7px;
        &__num {
          font-size: 20px;
          font-weight: bold;
        }
      }
      .follow-btn {
        a{
          img{
            height: 20px;
            width: auto;
            display: inline-block;
          }
        }
      }
    }
    &__news {
      margin-top: 10px;
      border: 1px solid #eaeaea;
      font-size: 16px;
      padding: 10px;
      &__comment {
        margin: 0 10px 10px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        height: 63px;
      }
      &__pick {
        &__title {
          border-top: 1px solid #eaeaea;
          padding: 10px 10px 0;
          margin-bottom: 10px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
        &__source {
          font-size: 12px;
          color: #999;
          padding-top: 7px;
        }
      }
    }
  }
}
