@mixin main_card() {
  .centering-content{
    :after{
      content: "";
      clear: both;
      display: block;
    }
    padding: 0 32px;
    .content-header{
      padding: 24px 0;
      border-bottom: solid 1px #D9D9D9;
      .content-header-title{
        font-size: 16px;
        font-weight: 700;
        color: #221f20;
      }
      .content-header-description{
        font-size: 12px;
        color: #999;
      }
    }
    .category-header{
      margin: 20px 0;
      .category-title{
        font-size: 16px;
        font-weight: 700;
        color: #221f20;
        width: 270px;
      }
    }
    .row{
      border-bottom: 1px solid #D9D9D9;
      .category-recommended-picker{
        float: left;
        width: 50%;
        margin-bottom: 30px;
        .picker-info{
          a{
            float: left;
            img{
              float: left;
              width: 48px;
              height: 48px;
              border-radius: 50%;
              margin-right: 10px;
            }
            .picker-info-container{
              float: left;
              .picker-name{
                font-weight: 700;
                font-size: 18px;
                color: #221f20;
                height: 25px;
              }
              .picker-position{
                color: #999;
                font-size: 12px;
                height: 31px;
              }
            }
          }
          .badge{
            float: left;
            margin-left: 10px;
            img{
              height: 20px;
              width: auto;
              border-radius: 0%;
            }
          }
          .follow-btn{
            float: right;
            padding-right: 30px;
            img{
              height: 24px;
              width: auto;
              transition: all .1s linear;
              vertical-align: middle;
              outline: 0;
              border-radius: 0%;
            }
          }
        }
      }
    }
  }
}

@mixin user_rank_follow() {
  img{
    display: table-cell;
    height: 24px;
    width: auto;
    transition: all .1s linear;
    vertical-align: middle;
    outline: 0;
  }
}
