@mixin like_container() {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  .thumb-up-r {
    display: inline;
    width: 10px;
    height: 14px;
  }
  .thumb-up-g {
    display: inline;
    width: 10px;
    height: 14px;
  }
  .count-r{
    color: #D74029;
  }
  .like-label-r{
    color: #D74029;
  }
}
