@mixin like_container() {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  .thumb-up-r {
    display: inline;
    width: 10px;
    height: 14px;
  }
  .thumb-up-g {
    display: inline;
    width: 10px;
    height: 14px;
  }
  .count-r{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 70%;
    color: #D74029;
  }
  .like-label-r{
    font-size: 60%;
    color: #D74029;
  }
}
