@mixin one_news() {
  background-color: #fff;
  padding: 16px;
  margin-bottom: 16px;
  min-height: 108px;
  max-width: 635px;
  &__image {
    z-index: 0;
    background-position: center;
    background-size: cover;
    margin-right: 16px;
    width: 250px;
    height: 108px;
    float: left;
    position: relative;
    cursor: pointer;
    &:hover {
      opacity: 0.7
    }
    &__back {
      position: absolute;
      height: 31px;
      width: 61px;
      right: 0;
      top: 10px;
      background-color: rgb(0, 0, 0);
      opacity: 0.3;
    }
    &__picks-count {
      position: absolute;
      right: 0;
      top: 10px;
      padding: 3px;
      height: 25px;
      width: 55px;
      border: 1px solid #fff;
      &__num {
        font-weight: bold;
        font-size: 12px;
        color: #FFF;
      }
      &__text {
        font-size: 12px;
        color: #FFF;
      }
    }
  }
  &__above {
    &__title {
      font-weight: 700;
      font-size: 16px;
      max-height: 20px;
      cursor: pointer;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      &:hover {
        opacity: 0.7
      }
    }
    &__source {
      font-size: 12px;
      color: #999;
      padding: 7px 0;
    }
  }
  &__body {
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}

@mixin one_pick-comment() {
  background-color: #fff;
  padding: 16px;
  margin-bottom: 16px;
  max-width: 635px;
  &__user {
    &__image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      float: left;
    }
    &__info {
      padding: 0 0 16px 20px;
      display: inline-block;
      &__name {
        font-size: 14px;
        font-weight: bold;
      }
      &__more {
        color: #999;
        font-size: 12px;
        &__position {

        }
        &__date {

        }
      }
    }
  }
  &__body {
    font-size: 14px;
    width: 900px;
    max-height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    padding-bottom: 16px;
    float: left;
    &:hover {
      opacity: 0.7;
    }
  }
  &__like {
    float: right;
    margin-right: 16px;
    text-align: center;
    &__icon {
      width: 10px;
      height: 14px;
      cursor: pointer;
    }
    &__likes-count {
      font-size: 90%;
      color: #B1B1B3;
    }
  }
  &__news {
    clear: both;
    border-top: 1px solid #eee;
    padding-top: 15px;
    &__title {
      font-size: 14px;
      font-weight: bold;
      max-height: 20px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    &__info {
      font-size: 12px;
      color: #999;
      &__source {

      }
      &__date {

      }
    }
  }
}
