<!DOCTYPE html>
<html>
  <head>
    <title>NewspicksTeama</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="header">
      <ul class="header__list">
        <li class="header__list__menu"><a href="#" class="header__list__link">メニュー</a></li>
        <li class="header__list__search"><input type="text" placeholder="検索する" class="header__list__left"></li>
        <li class="header__list__new"><a href="#" class="header__list__link">新規Pick作成</a></li>
        <li class="header__list__news"><a href="#" class="header__list__link">お知らせ</a></li>
        <li class="header__list__user"><a href="#" class="header__list__link">田中太郎</a></li>
        <li class="header__list__logo"><a href="#" class="header__list__link">NEWSPICKS</a></li>
      </ul>
   </nav>
    <%= yield %>
  </body>
</html>
