<!DOCTYPE html>
<html>
  <head>
    <title>NewspicksTeama</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="header">
      <ul class="header__list">
        <li class="header__list__menu"><a href="" title="">メニュー</a></li>
        <li class="header__list__search"><input type="text" placeholder="検索する"></li>
        <li class="header__list__logo"><a href="" title="">NEWSPICKS</a></li>
        <li class="header__list__user"><a href="" title="">田中太郎</a></li>
        <li class="header__list__news"><a href="" title="">お知らせ</a></li>
        <li class="header__list__new"><a href="" title="">新規Pick作成</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
